html.no-touch .gallery a:hover span,html.touch .gallery a.touchFocus span {
  width:100%;
  height:101%;
  opacity:1;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: black;
  display: block;
  margin: 0px;
}
/*body {
  font-size: 1em !important;
}*/


h1 {
    font-size: 5vw;
}

h4{
    font-size: 1em;
    margin: 0;
    font-weight: 400;
}

.responsibilities{
  text-align: right;
}



.topRich{
    width: 100%;
    height: 100vh;
    background-image:url(https://twimg0-a.akamaihd.net/a/1350072692/t1/img/front_page/jp-mountain@2x.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    }



#brainStormImage {
    height: 200px; 
    width: 100%;
    background: black url(http://www.electrictoolbox.com/images/rangitoto-3072x200.jpg) no-repeat;
    background-size: 100% 100%;
}


.sampleDescription {
  padding-right: 0vw;
}

.typicalDescriptor{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.videoPlaceHolder {
  height: 216px;
  width: 384px;
  background-repeat: no-repeat !important;
  background: url(https://via.placeholder.com/384x216);
}
.otherprojectImages {
  height: 30vw;
  width: 30vw;
  object-fit: contain;
  margin: 0px auto;
  padding: 0;
}
.subcontainer{
  position: relative;
  padding-top: 50px;
  transition: 0.3s ease;
}


.nombore{

    display: block;
    left: 0;
    height: 6px;
    background-color: #f45e61;
    width: 0%;
    transition: width 1s ease;
    position: relative;
    transition: all 0.3s ease-out;
}
.draw:hover .nombore{
    width: 7%;
    color: #f45e61;

}
/*
.progress-top,
.progress-right,
.progress-bottom,
.progress-left {
  position: fixed;
  z-index: 999;
  background-color: #f45e61;
}

.progress-top,
.progress-bottom {
  height: 6px;
}

.progress-right,
.progress-left {
  width: 6px;
}

.progress-top,
.progress-right {
  top: 0;
}

.progress-top,
.progress-left {
  left: 0;
}

.progress-bottom,
.progress-left {
  bottom: 0;
}

.progress-bottom,
.progress-right {
  right: 0;
}
*/

.outline {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 0px;
  padding: 1em 0em;
  font-size: inherit;

  position: relative;
  /* vertical-align: middle;
  */
}
.outline::before, .outline::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
margin: 4em;
    transition: color 0.1s;
}
.draw::before, .draw::after {
  border: 4px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #f45e61;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.draw:hover::before {
  border-top-color: #f45e61;
  border-right-color: #f45e61;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #f45e61;
  border-left-color: #f45e61;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  z-index: -1;
}
.biggerBox{
  overflow: hidden;
  height: 26px;
  position: absolute;
  width: 60px;
  top: 0px;
}

.biggerBoxRight{
    float: right;
    position: relative;
    padding-right: 5vw;
    margin-top: 0vw;
}

.biggerBoxLeft{
    float: left;
    position: relative;
    padding-right: 5vw;
    margin-top: 0vw;
}

.videoSampleWork{       width: 49%;
}

.subHeader{
    top: -33px;
    font-size: 2em;
    padding-bottom: 30px;
    position: absolute;
    width: 37vw;
    left: 65px;
    font-weight: 900;
    font-family: sans-serif;
}
.quigly{
  overflow: hidden;
  background-image: url('https://ubisafe.org/images/line-svg-squiggle-3.png');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  top: -40px;
  left: -30px;
}
.draw:hover a {
  color:#FC534E;
}
.draw:hover .quigly {
  overflow: auto;
  background-image: url(https://ubisafe.org/images/line-svg-squiggle-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  top: -40px;
  left: 0px;
  animation: infinite linear;
  animation-name: run;
  animation-duration: 1s;
}
@-webkit-keyframes run {
  0% {
    left: -30px;
  }
  100% {
    left: -6px;
  }
}
img {
  max-width: 100%;
  max-height: 100%;
}
/* STRUCTURE */
.videoDynamic {
  width: 384px;
  object-fit: contain;
  background-position: right;
}
.wrapper {
  padding-top: 0px;
  max-width: 1080px;
  width: 95%;
  margin: 20px auto;
}
.wrapper2 {
  width: 100%;
  background-image: url("https://www.w3schools.com/howto/img_girl.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapperPad {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}
header {
  padding-top: 10vw;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  /* padding: 150px 0px;
  */
  padding: 6px;
}
.gridWork{
  padding-right: 0vw;
}

.sideText{
    float: left;
    width: 50%;
    padding-bottom: 3vw;
}
.sideTextRight{
    float: right;
    width: 50%;
    padding-bottom: 3vw;
}

.columns2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  padding: 150px 0px;
}
.column {
    flex: 1;
    margin: 2px;
    padding-bottom: 3vw;
    padding-top: 3vw;
    padding-right: 2vw;
    padding-left: 2vw;

}
.column2 {
  flex: 1;
  margin: 2px;
  padding: 10px;
}
.description {
  padding: 150px 0px;
}
.description2 {
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
  }
.hero #cafe {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(oldui.jpg);
}
.hero #cafe .inner {
  padding-top: 63.35%;
  /* height/width of image */
  display: block;
  height: 0;
}
.workingExamples{
  padding-bottom: 10vw;
}
.bdgColor{
    background-color: transparent;
  }
.wrapperimages {
  vertical-align: middle;
  text-align: center;
  margin: 1em 0;
  padding-top: 0;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}
.frame1 {
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
  /* border: 1px solid red;
  */
  vertical-align: middle;
}
.hello1 {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.container {
  max-width: 980px;
  margin: auto;
}
.container2 {
  max-width: 960px;
  margin: auto;
}


.gallery {
    margin: 10px;
    margin-left: 43px;
    list-style-type: none;
    padding: 0;
    font-size: 0;
}
.gallery li {
  display: inline-block;
  position: relative;
  /* width: 13vw;
  */
  width: calc(27% - 100px);
  padding: 3%;
}
.gallery a {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.gallery a img {
  width: 100%;
}
.gallery a span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
}
.descriptionText{
  padding-top: 50%;
}
.videoModal{
  text-decoration: none;
  color: black;
  margin: 0px 1em;
  cursor: pointer !important;
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.squiglyHolder{
  display: block;
  padding-left: 47.0%;
  top: -100px;
  position: relative;
}
.subTitle{
  margin: 0;
  font-weight: 100;
  color: #aea6a6;
}



.dottedContainer{
    position: relative;
    width: 80%;
    top: 95px;
    right: -93px;
  }
  
.svgBox {
width: 100%;
    min-width: 250px;
    font-family: Montserrat, sans-serif;
}
.r {
    width: 150px;
    height: 27px;
    fill: transparent;
    stroke: #f45e61;
    stroke-width: 6px;
    stroke-dasharray: 6 10;
    stroke-dashoffset: 0;
    animation: march 30s linear infinite reverse;
}
.t {
   font-size: 10px;
   fill: #ff0;
}
@keyframes march {
   100% { stroke-dashoffset: 400; }
}



@media screen and  (min-width: 601px) and (max-width: 980px) {





h1 {
    font-size: 10vw;
    padding-bottom: 8vw;
}


  h3 {
    font-size: 2em;
  }

.draw {
    margin: 0em;
    transition: color 0.1s;
}

.videoSampleWork{       
  width: 100%;
}

.biggerBoxRight {
float: right;
    position: relative;
    padding-right: 65px;
    margin-top: 0vw;
}

.dottedContainer {
    position: relative;
    width: 76%;
    top: 10vw;
    right: -11vw;
}
.sideText{
  float: none;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 3vw;
}

.sideTextRight{
    float: none;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 3vw;
}


.subHeader {
    top: -54px;
    font-size: 3em;
    padding-bottom: 30px;
    position: absolute;
    width: 80vw;
    left: 65px;
    font-weight: 900;
    font-family: sans-serif;
}

.gallery {
  margin: 10px;
  list-style-type: none;
  padding: 0;
  font-size: 0;
}

.videoModal {
    text-decoration: none;
    color: black;
    margin: 0px 1em;
    padding-bottom: 5vw;
    padding-top: 2vw;
    cursor: pointer !important;
}

  .gallery li {
    width: 33.3%;
    padding: 9.3%;
  }
  .draw {
margin: 1em;
    /* text-align: justify; */
    transition: color 0.1s;
}
  .description {
    width: 100%;
    margin-bottom: 0px;
    padding: 10vw 33%;
    padding-bottom: 0px;
  }
  .description2 {
    width: 100%;
    margin-bottom: 0px;
    padding: 10vw 0%;
    padding-bottom: 0px;
    padding: 40px 0px;
  }
  .otherprojectImages {
    height: 40vw;
    width: 100vw;
    min-width: 250px;
    min-height: 250px;
    object-fit: contain;
    margin: 0px auto;
    padding: 0;
  }
  .columns2 .column2 {
    margin-bottom: 5px;
    flex-basis: 50%;
    padding-right: 0%;
  }
  .column2 {
    padding-right: 33%;
  }
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin: 5px 0;
    padding-top: 0px;
  }
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 60%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
    text-align: left;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    text-align: left;
    margin: 0;
  }
  .videoDynamic {
    background-position: center;
    width: 60%;
    height: 100%;
  }
  #cafe {
    background-image: url(olduismall.jpg);
  }
  .gridWork{
    padding-right: 0vw;
      }
}


@media screen and (max-width: 600px) {


.biggerBox {
    overflow: hidden;
    height: 26px;
    position: absolute;
    width: 60px;
    top: -10px;
}

.squiglyHolder {
    /* display: block; */
    right: 75px;
    top: 27px;
    position: absolute;
}

.biggerBoxRight {
    float: right;
    position: relative;
    padding-right: 58px;
    margin-top: 0vw;
}
.biggerBoxLeft {
    float: right;
    position: relative;
    padding-right: 58px;
    margin-top: 0vw;
}

.videoSampleWork{       
  width: 100%;
}

.sideText{
     float: none;
    width: 100%;
    padding-bottom: 3vw;
}
.sideTextRight{
     float: none;
    width: 100%;
    padding-bottom: 3vw;
}

.topRich{
    width: 100%;
    height: 50vh;
    background-image:url(https://twimg0-a.akamaihd.net/a/1350072692/t1/img/front_page/jp-mountain@2x.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    }



.subHeader {
top: -31px;
    font-size: 25px;
    padding-bottom: 30px;
    position: absolute;
    width: 73vw;
    left: 65px;
    font-weight: 900;
    font-family: sans-serif;
}

.draw {
    margin: 0em;
    transition: color 0.1s;
}

.dottedContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 21vw;
    right: 0px;
}

  .gallery li {
    width: 50%;
    padding-bottom: 50%;
  }
  .columns .column {
    flex-basis: 90%;
  }
  .description {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 30px;
  }
  .description2 {
    width: 100%;
    margin-bottom: 0px;
    padding: 30px 0px;
  }
  .hero #cafe .inner {
    padding-top: 100.00%;
    display: block;
    height: 0;
  }
  .hello1 {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: justify;
    margin: 5px 0;
    padding-top: 0px;
}
  
#cafe{ 
    background-image: url(olduismall.jpg) !important;
  }


  .gridWork{
    padding-right: 0vw !important;
  }





}








