:root {
    --bigRed: #f45e61; 
    --imageShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@import url(https://fonts.googleapis.com/css?family=Cabin);


html.no-touch .gallery a:hover span,html.touch .gallery a.touchFocus span {
  width:100%;
  height:101%;
  opacity:1;
}



* {
  box-sizing: border-box;
}


body {
  font-family: "Cabin", sans-serif;
  color: black;
  display: block;
  margin: 0px;
}

.cls-1 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.cls-2 {
    fill: none;
    stroke: #fc534e;
    stroke-miterlimit: 10;
}

.top{
  position: relative;
  height: 100vh;
}


#home {
  mix-blend-mode: difference;
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;
  bottom: 0px;
  right: -20px;
  z-index: 1;
  margin: 1em;
}

#home:hover {
  background-color: none;
}

#home::before {
  height: 2px;
  width: 15px;
  background-color: white;
  position: absolute;
  top: 45%;
  left: 13px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

#home::after {
  height: 2px;
  width: 15px;
  background-color: white;
  position: absolute;
  top: 45%;
  right: 13px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

#meBdg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.silhou {
  z-index: 100;
  position: absolute;
}

#one {

    position: relative;
    padding-top: 6vw;
    padding-bottom: 6vw;
    background: white;
}

#two {
    position: relative;
    padding-top: 6vw;
    padding-bottom: 6vw;
    background: white;
    background: white;
}

#three {
    position: relative;
    padding-top: 6vw;
    height: 100vh;
    padding-bottom: 6vw;
    background: white;
}

/*  THIS IS THE GIRD SYSTEM!!!!  */
.grid-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.toggle {
  text-align: center;
  padding: 0;
  color: white;
}

.toggle li {
  display: inline;
  padding: 0 60px;
}

.toggle label {
  font-size: 1.2em;
  padding: 0 10px;
}

.grid {
    margin: 0 auto;
    float: right;
}

.item {
  color: white;
  display: table;
  font-size: 1.4em;
  text-align: center;
  margin: 5px;
  width: 270px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.34);
}

.item:hover .title {
  opacity: 1;
}

.title {
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.i1 {
    background: black;
    height: 100px;
    width: 100px;
    background-color: var(--bigRed);
    box-shadow: var(--imageShadow);
}

.i3, .i6, .i7 {

background-color: var(--bigRed);
    box-shadow: var(--imageShadow);  height: 280px;
}

.i3 {

  background: none;
 height: 100px;
    width: 100px;
  margin-left: 30px;
}

.i2, .i4, .i8 {

background-color: var(--bigRed);
    box-shadow: var(--imageShadow);  height: 180px;
}

.i5{

height: 100px;
width: 100px;

}

.i9, .i10, .i11, .i12, .i13, .i14, .i15 {

background-color: var(--bigRed);
    box-shadow: var(--imageShadow);  height: 180px;
}

.i4 {
    background-color: var(--bigRed);
    box-shadow: var(--imageShadow);
    height: 100px;
    width: 100px;
}





.dropCirlce {
    top: -19px;
    text-align: center;
    position: relative;
    z-index: -3;
  }

nav {

    background-color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    top: -16px;
    left: 0px;
    z-index: 50;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;

}

iframe{
      box-shadow: var(--imageShadow);
}

#videoExample{
    max-width: 600px;
    width: 100%;
    box-shadow: var(--imageShadow);

}


    


.FarmBackgroundColor{
  width: 100vw;
    z-index: -2;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
background: linear-gradient(180deg, #f45e61, #ffffff);
background-size: 400% 400%;

animation: farmBackground 8s ease infinite;
}


@keyframes farmBackground { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}


.contactFooter{
    font-size: 6vw;
    overflow: hidden;
    position: relative;
    color: white;
    bottom: 0px;
    z-index: -1;
    font-weight: 900;
    text-align: center;
    width: 100%;
    background-color: var(--bigRed);
    height: 8vw;
}

.contactFooterFront{
    font-size: 6vw;
    overflow: hidden;
    position: relative;
    color: var(--bigRed);
    bottom: 0px;
    z-index: 1;
    top: 50vh;
    font-weight: 900;
    text-align: center;
    width: 100%;
    height: 8vw;

}

.mainFarmImage{
    width: 100%;
    position: relative;
}
nav ul {
    padding: 0px;
    display: flex;
    background: white;
          box-shadow: var(--imageShadow);
     }
nav ul a {
  text-decoration: none;
  color: #424242;
  font-size: 30px;
  width: 33.3333333333%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul a:nth-child(odd):hover {
 background-color: var(--bigRed);
    color: white;  
  }
nav ul a:nth-child(even):hover {
  background-color: var(--bigRed);
    color: white; 
}

nav ul:hover::after nav {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

nav:hover {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

li{
  list-style: none
}


h1 {
    font-family: "Cabin", sans-serif;
    font-size: 5vw;
    color: var(--bigRed); 

}

h3{
    font-family: "Cabin", sans-serif;
    font-size: 5vw;
    color: var(--bigRed); 
}

h4{
    font-family: "Cabin", sans-serif;
    font-size: 2vw;
    margin: 0;
    font-weight: 400;
}

.responsibilities{
  text-align: right;
}




#myVideo {
    object-fit: cover;
    width: 100vw;
    z-index: -1;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}


#controlPanel {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}




.me123{
    font-family: "Cabin", sans-serif;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    color: white;
}


.videoOverlay{
    width: 100%;
    top: 0px;
    z-index: -1;
    position: absolute;
    height: 100vh;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background: url(mesh.png);

}



.topRich{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
        }



.richDiagram{
    width: 58%;
  
}


.more{
  width: 100px;
    height: 100px;
    background-color: var(--bigRed);
          box-shadow: var(--imageShadow);


}

.richFianl{
    position: absolute;
    right: 8%;
    top: 80%;
    width: 71%;
}


.richPath {
   stroke-dasharray: 70;
  animation: dash 14s linear infinite;
}

.richPath2 {
    top: 170px;
    stroke-dasharray: 70;
    animation: dash 14s linear infinite;
    position: absolute;
}

.richPath3 {
    display: none;
}


.static {
    padding-top: 0vw;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}




.titleText{
text-align: center;
    color: #ffffff;
    padding-left: 7vw;
    padding-right: 7vw;
        background: #00000078;
}


.hero{


}


.imagesRich{
box-shadow: var(--imageShadow);
}


#image-container{
    display: inline-block;
}

/*#imageWork{   
  display: block;
    position: relative;
  }*/

.sampleDescription {
  padding-right: 0vw;
}

.typicalDescriptor{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.videoPlaceHolder {
  height: 216px;
  width: 384px;
  background-repeat: no-repeat !important;
  background: url(https://via.placeholder.com/384x216);
}
.otherprojectImages {
  object-fit: contain;
  margin: 0px auto;
  padding: 0;
  box-shadow: var(--imageShadow);


}
.subcontainer{
  position: relative;
  padding-top: 50px;
  transition: 0.3s ease;
}


.nombore{

    display: block;
    left: 0;
    height: 6px;
    background-color: #f45e61;
    width: 0%;
    transition: width 1s ease;
    position: relative;
    transition: all 0.3s ease-out;
}
.draw:hover .nombore{
    width: 7%;
    color: #f45e61;

}


.outline {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 0px;
  padding: 1em 0em;
  font-size: inherit;

  position: relative;
  /* vertical-align: middle;
  */
}
.outline::before, .outline::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
margin: 4em;
    transition: color 0.1s;
}
.draw::before, .draw::after {
  border: 4px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #f45e61;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.draw:hover::before {
  border-top-color: #f45e61;
  border-right-color: #f45e61;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #f45e61;
  border-left-color: #f45e61;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  z-index: -1;
}
.biggerBox{
  overflow: hidden;
  height: 26px;
  position: absolute;
  width: 60px;
  top: 0px;
}

.biggerBox3 {
    overflow: hidden;
    height: 26px;
    position: absolute;
    width: 60px;
    top: 21px;
    left: 19px;
}

.biggerBoxRight{
    float: right;
    position: relative;
    padding-right: 5vw;
    margin-top: 0vw;
}

.biggerBoxLeft{
    float: left;
    position: relative;
    padding-right: 5vw;
    margin-top: 0vw;
}

.videoSampleWork{       
  width: 49%;
}

.subHeader{
    top: -33px;
    font-size: 2em;
    padding-bottom: 30px;
    position: absolute;
    width: 37vw;
    left: 65px;
    font-weight: 900;
    font-family: sans-serif;
}
.quigly{
  overflow: hidden;
  background-image: url('https://ubisafe.org/images/line-svg-squiggle-3.png');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  top: -40px;
  left: -30px;
}
.draw:hover a {
    color: var(--bigRed); 
}
.draw:hover .quigly {
  overflow: auto;
  background-image: url(https://ubisafe.org/images/line-svg-squiggle-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  top: -40px;
  left: 0px;
  animation: infinite linear;
  animation-name: run;
  animation-duration: 1s;
}
@-webkit-keyframes run {
  0% {
    left: -30px;
  }
  100% {
    left: -6px;
  }
}
img {
  max-width: 100%;
  max-height: 100%;
}
/* STRUCTURE */
.videoDynamic {
    margin-top: 3vw;
    height: 100%;
    width: 384px;
    object-fit: contain;
    background-position: right;
    box-shadow: var(--imageShadow);
}

.brokenSection{
  padding-top: 75px;
  padding-bottom: 75px;
}

.wrapper {
  padding-top: 0px;
  max-width: 1080px;
  width: 95%;
  margin: 20px auto;
}
.wrapper2 {
  width: 100%;
  background-image: url("https://www.w3schools.com/howto/img_girl.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapperPad {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}
header {
    font-family: "Cabin", sans-serif;
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    color: white;
  }

.columns {
  display: flex;
  z-index: 2;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  /* padding: 150px 0px;
  */
  padding: 6px;
}

.column3 {
    flex: 1;
    z-index: 2;
    margin: 2px;
    padding-bottom: 3vw;
    padding-top: 15vw;
    padding-right: 0vw;
    position: relative;
    padding-left: 2vw;
}



.gridWork{
  padding-right: 0vw;
}

.sideText {
    float: left;
    width: 50%;
    padding-left: 8vw;
    padding-bottom: 3vw;
}
.sideTextRight{
    float: right;
    width: 50%;
    padding-bottom: 3vw;
}

.columns2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  padding: 150px 0px;
}
.column {
    flex: 1;
    margin: 2px;
    z-index: 2;
    padding-bottom: 3vw;
    padding-top: 3vw;
    padding-right: 2vw;
    padding-left: 2vw;

}
.column2 {
  flex: 1;
  margin: 2px;
  padding: 10px;

}
.description {
  padding: 150px 0px;
}
.description2 {
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
  }
.hero #cafe {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(oldui.jpg);
}
.hero #cafe .inner {
  padding-top: 63.35%;
  /* height/width of image */
  display: block;
  height: 0;
}


.hero2 #cafe2 {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    background-size: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(https://via.placeholder.com/1920x1500?text=Visit+Blogging.com+Now%20C/O%20https://placeholder.com/);
}
.hero2 #cafe2 .inner2 {
    padding-top: 80%;
    display: block;
    height: 0;
}

.growth{

    width: 60%;
    padding-left: 8vw;
    padding-right: 0vw;
}


.personalInfo {
    width: 45vw;
    padding-left: 6vw;
    padding-right: 0vw;
}


.workingExamples{
  padding-bottom: 10vw;
}
.bdgColor{
    background-color: transparent;
  }
.wrapperimages {
  vertical-align: middle;
  text-align: center;
  margin: 1em 0;
  padding-top: 0;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}
.frame1 {
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
  /* border: 1px solid red;
  */
  vertical-align: middle;
}
.hello1 {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  box-shadow: var(--imageShadow);
}
.container {
  max-width: 980px;
  margin: auto;
}
.container2 {
  max-width: 960px;
  margin: auto;
}

.container3 {
    max-width: 320px;
    margin: auto;
    right: 0px;
    float: right;
    position: relative;
}


.gallery {
    margin: 10px;
    margin-left: 43px;
    list-style-type: none;
    padding: 0;
    font-size: 0;
}
.gallery li {
  display: inline-block;
  position: relative;
  /* width: 13vw;
  */
  width: calc(27% - 100px);
  padding: 3%;
}

.gallery2 li {
    display: inline-block;
    position: relative;
    width: 100px;
    padding: 1%;
}


.gallery2 {
    padding: 0px;

}

.gallery a {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.gallery a img {
  width: 100%;
}
.gallery a span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
}
.descriptionText{
  padding-top: 50%;
}
.videoModal{
  text-decoration: none;
  color: black;
  margin: 0px 1em;
  cursor: pointer !important;
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.squiglyHolder{
  display: block;
  padding-left: 47.0%;
  top: -100px;
  position: relative;
}
.subTitle{
  margin: 0;
  font-weight: 100;
  color: #aea6a6;
}


.richRough{
    top: -50px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    left: 1%;
    max-width: 600px;
}


.richFianl3{    
top: 49%;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    left: 1%;
    max-width: 500px;
}


.richRough2{
    top: 150px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    right: 0%;
    max-width: 600px;
}




.dottedContainer{
    position: relative;
    width: 80%;
    top: 95px;
    right: -93px;
  }
  
.svgBox {
width: 100%;
    min-width: 250px;
    font-family: Montserrat, sans-serif;
}
.r {
    width: 150px;
    height: 27px;
    fill: transparent;
    stroke: var(--bigRed);
    stroke-width: 6px;
    stroke-dasharray: 6 10;
    stroke-dashoffset: 0;
    animation: march 30s linear infinite reverse;
}
.t {
   font-size: 10px;
   fill: #ff0;
}
@keyframes march {
   100% { stroke-dashoffset: 400; }
}


.richFinalImage{
  min-width: 800px;
}



@media screen and  (min-width: 601px) and (max-width: 980px) {


h1 {
    font-size: 10vw !important;
    padding-bottom: 8vw;

}


.grid {
    margin: 0 auto;
    float: none;
}


.static {
    padding-top: 0vh;
}

.personalInfo {
    width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
}


.draw {
    margin: 0em;
    transition: color 0.1s;
}

.videoSampleWork{       
  width: 100%;
}

.biggerBoxRight {
float: right;
    position: relative;
    padding-right: 65px;
    margin-top: 0vw;
}

.dottedContainer {
    position: relative;
    width: 76%;
    top: 10vw;
    right: -11vw;
}
.sideText{
  float: none;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 3vw;
}

.brokenSection{
  padding-bottom: 0px;
}

.richFinalImage {
    min-width: 600px;
}

.richRough2 {
    top: 210px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    right: 0%;
    max-width: 600px;
}

.richRough {
    top: 4vw;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    left: 1%;
    max-width: 600px;
}


.richPath2{
display: none;
}

.richPath3 {
    top: 170px;
    stroke-dasharray: 70;
    animation: dash 14s linear infinite;
    position: absolute;
}




.richFianl3 {
    top: 52%;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    left: 1%;
    max-width: 500px;
}



.sideTextRight{
    float: none;
    width: 100%;
    padding-left: 8vw;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 3vw;
}


.subHeader {
    top: -54px;
    font-size: 3em;
    padding-bottom: 30px;
    position: absolute;
    width: 80vw;
    left: 65px;
    font-weight: 900;
    font-family: sans-serif;
}

.gallery {
  margin: 10px;
  list-style-type: none;
  padding: 0;
  font-size: 0;
}

.videoModal {
    text-decoration: none;
    color: black;
    margin: 0px 1em;
    padding-bottom: 5vw;
    padding-top: 2vw;
    cursor: pointer !important;
}

  .gallery li {
    width: 33.3%;
    padding: 9.3%;
  }
  .draw {
margin: 1em;
    /* text-align: justify; */
    transition: color 0.1s;
}
  .description {
    width: 100%;
    margin-bottom: 0px;
    padding: 10vw 33%;
    padding-bottom: 0px;
  }
  .description2 {
    width: 100%;
    margin-bottom: 0px;
    padding: 10vw 0%;
    padding-bottom: 0px;
    padding: 40px 0px;
  }

  .growth {
    width: 100%;
    margin-bottom: 0px;
    padding: 10vw 0%;
    padding-bottom: 0px;
    padding: 40px 0px;
  }

  .otherprojectImages {
    width: 100vw;
    min-width: 250px;
    min-height: 250px;
    object-fit: contain;
    margin: 0px auto;
    padding: 0;
  }
  .columns2 .column2 {
    margin-bottom: 5px;
    padding-right: 0%;
  }
  .column2 {
    padding-right: 33%;
  }
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin: 5px 0;
    padding-top: 0px;
  }
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 60%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
    text-align: left;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    text-align: left;
    margin: 0;
  }
  .videoDynamic {
    background-position: center;
    width: 60%;
    height: 100%;
  }
  #cafe {
    background-image: url(olduismall.jpg);
  }
    #cafe2 {
    background-image: url(olduismall.jpg);
  }
  .gridWork{
    padding-right: 0vw;
      }

.hero2 #cafe2 .inner2 {
    padding-top: 188%;
    display: block;
    height: 0;
}

  #cafe2 {
    background-image: url(https://via.placeholder.com/800x1500?text=Visit+Blogging.com+Now%20C/O%20https://placeholder.com/) !important;
}

}


@media screen and (max-width: 600px) {

h1 {
    font-size: 10vw !important;
    padding-bottom: 8vw;

}

.grid {
    margin: 0 auto;
    float: none;
}

.column2 {
    flex: auto;
    margin: 2px;
    padding: 10px;
}


.personalInfo {
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
}



.columns2 {
    flex-direction: column;
    align-items: center;
    display: flex;
}


.titleText {
    top: 12vw;
    position: relative;
    text-align: center;
    color: #ffffff;
    background: #00000078;
}



.biggerBox {
    overflow: hidden;
    height: 26px;
    position: absolute;
    width: 60px;
    top: -10px;
}

.squiglyHolder {
    /* display: block; */
    right: 75px;
    top: 27px;
    position: absolute;
}

.biggerBoxRight {
    float: right;
    position: relative;
    padding-right: 58px;
    margin-top: 0vw;
}
.biggerBoxLeft {
    float: right;
    position: relative;
    padding-right: 58px;
    margin-top: 0vw;
}

.videoSampleWork{       
  width: 100%;
}

.brokenSection{
  padding-bottom: 0px;
}

.richFinalImage {
    min-width: 330px;
}

.sideText{
     float: none;
    width: 100%;
    padding-left: 0vw;
    padding-bottom: 3vw;
}
.sideTextRight{
     float: none;
    width: 100%;
    padding-bottom: 3vw;
}

.topRich{
width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
        }

.richPath2{
display: none;

}


.richPath3 {
    top: 170px;
    stroke-dasharray: 70;
    animation: dash 14s linear infinite;
    position: absolute;
}

.subHeader {
    top: -31px;
    font-size: 25px;
    padding-bottom: 30px;
    position: absolute;
    width: 73vw;
    left: 65px;
    font-weight: 900;
    font-family: sans-serif;
}


nav {
    background-color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 35px;
    left: 0px;
    z-index: 50;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

nav:hover {
    -webkit-transform: translateY(0%);
    transform: translateY(-100%);
}


.dropCirlce {
    display: none;
    top: -19px;
    text-align: center;
    position: relative;
    z-index: -3;
}



.draw {
    margin: 0em;
    transition: color 0.1s;
}

.dottedContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 21vw;
    right: 0px;
}

  .gallery li {
    width: 50%;
    padding-bottom: 3vh;
  }
  .columns .column {
    flex-basis: 90%;
  }
  .description {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 30px;
  }
  .description2 {
    width: 100%;
    margin-bottom: 0px;
    padding: 30px 0px;
  }

  .growth {
    width: 100%;
    margin-bottom: 0px;
    padding: 30px 0px;
  }

  .hero #cafe .inner {
    padding-top: 100.00%;
    display: block;
    height: 0;
  }

  .hero2 #cafe2 .inner2 {
    padding-top: 190%;
    display: block;
    position: relative;
    height: 100px;
    width: 100%;
  }

  .hello1 {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    width: 100%;
    box-shadow: var(--imageShadow); 
  }

  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: justify;
    margin: 5px 0;
    padding-top: 0px;
}
  
#cafe{ 
    background-image: url(olduismall.jpg) !important;
  }

  #cafe2 {
    background-image: url(https://via.placeholder.com/800x1500?text=Visit+Blogging.com+Now%20C/O%20https://placeholder.com/) !important;
}


  .gridWork{
    padding-right: 0vw !important;
  }

}



@media only screen  and (min-width : 1824px){  

.richRough{
    top: -50px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    left: 7%;
    max-width: 600px;
}


.richRough2{
    top: 150px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    right: 15%;
    max-width: 600px;
}


.richFianl3 {
    top: 49%;
    box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 0px rgba(0,0,0,0.00);
    position: absolute;
    width: 43vw;
    left: 15%;
    max-width: 600px;
}

.description2 {
    width: 100%;
    padding-top: 10%;
    padding-left: 8vw;
    padding-right: 8vw;
}




}




