html.no-touch .gallery a:hover span,
html.touch .gallery a.touchFocus span {
  width:100%;
  height:101%;
  opacity:1;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
  display: block;
  margin: 0px;
}

body {
  font-size: 1em !important;
}

h1 {
  font-size: 2em;
}

.sampleDescription {
    padding-right: 0vw;
  }

.videoPlaceHolder {
  height: 216px;
  width: 384px;
  background-repeat: no-repeat !important;
  background: url(https://via.placeholder.com/384x216);
}

.otherprojectImages {
  height: 30vw;
  width: 30vw;
  object-fit: contain;
  margin: 0px auto;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* STRUCTURE */

.videoDynamic {
   width: 384px; 
  background-position: right;
}

.wrapper {
    padding-top: 0px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}

.wrapper2 {
  width: 100%;
  background-image: url("https://www.w3schools.com/howto/img_girl.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.wrapperPad {
    padding-top: 0px;
    padding-bottom: 150px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}


header {
padding-top: 20vw;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    /* padding: 150px 0px; */
    padding: 6px;

}
.gridWork{
padding-right: 10vw;
}

.columns2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  padding: 150px 0px;
}

.column {
  flex: 1;
  margin: 2px;
}

.column2 {
  flex: 1;
  margin: 2px;
  padding: 10px;
}

.description {
  padding: 150px 0px;
}

.description2 {
  padding: 150px 0px;
}

.hero #cafe {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(oldui.jpg);
}

.hero #cafe .inner {
  padding-top: 63.35%;
  /* height/width of image */
  display: block;
  height: 0;
}


.workingExamples{
    padding-bottom: 10vw;
}

.bdgColor{
  background-color: white;
}


.wrapperimages {
    vertical-align: middle;
    text-align: center;
    margin: 1em 0;
    padding-top: 0;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}


.frame1 {
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 100%;
    /* border: 1px solid red; */
    vertical-align: middle;
}
.hello1 {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
        
.container {
    max-width: 980px;
    margin: auto;
}

.container2 {
    max-width: 960px;
    margin: auto;
}

.gallery {
  margin: 10px;
  list-style-type: none;
  padding: 0;
  font-size: 0;
}
.gallery li {
    display: inline-block;
    position: relative;
    /* width: 13vw; */
    width: calc(27% - 100px);
    padding: 3%;
}

.gallery a {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.gallery a img {
  width: 100%;
}

.gallery a span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    text-align: center;
  
}

.descriptionText{
      padding-top: 50%;
}


.videoModal{
  text-decoration: none;
color:black;
cursor: pointer !important;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}





@media screen and (max-width: 980px) {
  h3 {
    font-size: 2em;
  }
  .gallery li {
width: 33.3%;
    /* min-width: 110px; */
    padding: 9.3%;
  }

  .description {
    width: 100%;
    margin-bottom: 0px;
    padding: 10vw 33%;
    padding-bottom: 0px;
  }
  .description2 {
    width: 100%;
    margin-bottom: 0px;
    padding: 10vw 0%;
    padding-bottom: 0px;
    padding: 150px 0px;
  }
  .otherprojectImages {
    height: 40vw;
    width: 100vw;
    min-width: 250px;
    min-height: 250px;
    object-fit: contain;
    margin: 0px auto;
    padding: 0;
  }
  .columns2 .column2 {
    margin-bottom: 5px;
    flex-basis: 50%;
    padding-right: 0%;
  }
  .column2 {
    padding-right: 33%;
  }
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin: 5px 0;
    /* padding: 150px 0px; */
    padding-top: 0px;

  }
  .columns .column {
 margin-bottom: 5px;
    flex-basis: 60%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
    text-align: left;
  }
  .columns .column:last-child {
flex-basis: 100%;
    text-align: left;
    margin: 0;
  }
  .videoDynamic {
    background-position: center;
    width: 60%;
    height: 100%;
      }
  #cafe {
    background-image: url(olduismall.jpg);
  }

  .gridWork{
    padding-right: 10vw;
  }
}

@media screen and (max-width: 600px) {

  .gallery li {
    width: 50%;
    padding-bottom: 50%;
  }

  .columns .column {
    flex-basis: 90%;
  }
  .description {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 30px;
  }
  .description2 {
    width: 100%;
    margin-bottom: 0px;
    padding: 30px 0px;
  }
  .hero #cafe .inner {
    padding-top: 100.00%;
    display: block;
    height: 0;
  }

.hello1 {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    margin: 5px 0;
    /* padding: 150px 0px; */
    padding-top: 0px;
}
  #cafe {
    background-image: url(olduismall.jpg) !important;
  }

    .gridWork{
padding-right: 0vw !important;
}
}